<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {% for post in posts %}
    <h2><a href="{% url 'post:detail' post.id %}">{{ post.title }}</a></h2>
    <p>{{ post.content }}</p>
    <p>작성일 - {{ post.created_at }}</p>
    <p>작성자 - {{ post.author.nickname }}</p>
    <br />
    {% empty %} 글이 없습니다 {% endfor %}
    <br />
    {% if request.user == post.author %}
    <a href="{% url 'post:update' post.id %}">수정하기</a><br />
    <a href="{% url 'post:delete' post.id %}">삭제하기</a><br />
    {% endif %}
  </body>
</html>
