<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>연락처 실습 메인 페이지</h2>
    <hr />
    <br />
    <form action="{% url 'result' %}">
      <input type="text" name="data" />
      <input type="submit" value="검색" />
    </form>

    {% for contact in contacts %}
    <p>
      <a href="{% url 'detail' contact.id %}"
        >▶ {{ contact.name }} - {{ contact.phone_num }}</a
      >
      <a href="{% url 'update' contact.id %}">수정</a>
      <a href="{% url 'delete' contact.id %}">삭제</a>
    </p>

    <br />

    {% empty %} 등록된 전화번호가 없습니다.
    <br />
    {% endfor %}
    <br />
    <hr />
    <a href="{% url 'create' %}"> 새 번호 추가</a>
  </body>
</html>
